<template>
  <h1 class="product-heading px-4 mt-5 mb-3">
    {{ name }} <span>{{ motor }}</span>
  </h1>
</template>

<script>
export default {
  name: 'ProductHeading',
  props: {
    name: {
      type: String,
      default: '',
    },
    motor: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.product-heading {
  font-weight: 700;

  > span {
    color: var(--product-subheading-color);
    font-size: var(--product-subheading-font-size);
  }
}
</style>
