<template>
  <ul class="product-detail row m-0 px-4 py-5 mb-3">
    <li class="col col-sm-4">
      <dt>Mileage</dt>
      <dd>{{ detail.mileage }}</dd>
    </li>
    <li class="col col-sm-4">
      <dt>Transmission</dt>
      <dd>{{ detail.transmission }}</dd>
    </li>
    <li class="col col-sm-4">
      <dt>Drive unit</dt>
      <dd>{{ detail.driveUnit }}</dd>
    </li>
    <div class="w-100 mb-4"></div>
    <li class="col col-sm-4">
      <dt>Body</dt>
      <dd>{{ detail.body }}</dd>
    </li>
    <li class="col col-sm-4">
      <dt>Color</dt>
      <dd>{{ detail.color }}</dd>
    </li>
    <li class="col col-sm-4">
      <dt>Daily UI</dt>
      <dd>{{ detail.dailyUI }}</dd>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ProductDetail',
  props: {
    detail: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.product-detail {
  background-color: var(--product-detail-bg-color);
  list-style-type: none;

  dt {
    color: var(--product-detail-dt-color);
    font-weight: normal;
  }

  dd {
    margin: 0;
    font-size: var(--product-detail-dd-font-size);
    font-weight: 500;
    text-transform: capitalize;
  }
}
</style>
