<template>
  <b-button
    :class="`${cmpClass} py-4 rounded-0`"
    block
    variant="dark"
    type="submit"
    :disabled="!isFormValid"
  >
    {{ label }}
    <b-icon-arrow-right />
  </b-button>
</template>

<script>
export default {
  name: 'BaseButtonSubmit',
  props: {
    cmpClass: {
      type: String,
      default: 'button-submit',
    },
    isFormValid: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: 'Submit',
    },
  },
};
</script>

<style lang="scss" scoped>
button {
  text-transform: uppercase;
  // color: var(--payment-submit-button-color);
}
</style>
