.test-alayacare-vue {
  min-width: var(--app-min-width);
  max-width: var(--app-max-width);
  font-family: Noto Sans, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-color);
}