.test-alayacare-vue {
  --app-min-width: 576px;
  --app-max-width: 1500px;
  --app-color: #2c3e50;

  --product-detail-bg-color: #f7f7f7;
  --product-detail-dt-color: #c1b7b7;
  --product-detail-dd-font-size: 1.4rem;
  --product-subheading-color: #afafaf;
  --product-subheading-font-size: 1.5rem;

  --price-detail-item-color: #afafaf;
  --price-subtotal-promo-sign-font-size: 1rem;
  --price-total-font-size: 2.5rem;
  --price-total-sign-font-size: 1rem;

  --payment-credit-bg-color: #f7f7f7;
  --payment-credit-label-color: #c1b7b7;
  --payment-submit-button-color: #2c3e50;
}