<template>
  <b-col cols="5" md="7" :class="`payment-credit-number`">
    <label for="creditNumber" class="d-block mb-0">Card number</label>
    <the-mask
      :mask="creditMask"
      v-model.lazy="$v.creditDigit.$model"
      @input="inputHandler"
      @blur.native="blurHandler($v.creditDigit)"
      :class="`form-control ${creditClass} ${creditBolder}`"
      :state="$v.creditDigit.$invalid"
      type="text"
      placeholder="0000 0000 0000 0000"
      id="creditNumber"
    />
  </b-col>
</template>

<script>
import { TheMask } from 'vue-the-mask';
import { required, minLength } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditNumber',
  components: {
    TheMask,
  },
  props: {
    numberHandler: {
      type: Function,
      default: () => () => {},
    },
    typeHandler: {
      type: Function,
      default: () => () => {},
    },
  },
  data() {
    return {
      creditDigit: null,
      creditType: '',
      creditClass: '',
      creditBolder: '',
      creditMinDigit: 15,
      amexMask: '#### ###### #####', // 15 digits
      otherMask: '#### #### #### ####', // 16 digits
      reAmex: /^(34|37)/,
      reVisa: /^4/,
      reMC: /^5[1-5]/,
    };
  },
  validations: {
    creditDigit: {
      required,
      minLength: minLength(15),
      isTypeSuported() {
        return this.creditType !== 'other' && this.creditType !== '';
      },
    },
  },
  computed: {
    creditMask() {
      return this.creditType === 'amex' ? this.amexMask : this.otherMask;
    },
  },
  mounted() {
    document.getElementById('creditNumber').focus();
  },
  methods: {
    getCreditType(val) {
      switch (true) {
        case this.reAmex.test(val):
          return 'amex';
        case this.reMC.test(val):
          return 'mc';
        case this.reVisa.test(val):
          return 'visa';
        default:
          return 'other'; // unsupported
      }
    },
    inputHandler(val) {
      if (val.length <= 1) {
        this.typeHandler((this.creditType = null));
      } else if (val.length <= 5) {
        this.typeHandler((this.creditType = this.getCreditType(val)));
      }

      if (val.length >= this.creditMinDigit && this.creditType !== 'other') {
        this.numberHandler(val);
        this.creditClass = '';
        this.creditBolder = 'bolder';
      } else {
        this.numberHandler(null);
        this.creditBolder = '';
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        if ($v.$error || $v.$invalid) {
          this.creditClass = 'was-validated';
          this.creditBolder = '';
        } else {
          this.creditClass = '';
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-number {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
