<template>
  <b-col cols="5" md="7" class="payment-credit-holder">
    <label for="creditHolder" class="d-block mb-0">Cardholder name</label>
    <input
      v-model.lazy="$v.holderName.$model"
      @blur="blurHandler($v.holderName)"
      :class="`form-control ${holderClass} ${holderBolder}`"
      type="text"
      placeholder="as shown on card"
      id="creditHolder"
    />
  </b-col>
</template>

<script>
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditHolder',
  props: {
    holderHandler: {
      type: Function,
      default: () => () => {},
    },
  },
  data() {
    return {
      holderName: '',
      holderClass: '',
      holderBolder: '',
      reName: /^[a-zA-Z-\s]{4,30}$/, // char allowed: alpha, space and hyphen, length: 4-30 chars
    };
  },
  validations: {
    holderName: {
      required,
      isNameValid(name) {
        const isValid = this.reName.test(name);

        if (isValid) {
          this.holderHandler(name);
          this.holderBolder = 'bolder';
        } else {
          this.holderHandler(null);
          this.holderBolder = '';
        }

        return isValid;
      },
    },
  },
  methods: {
    blurHandler($v) {
      // console.log($v);
      if ($v.$dirty) {
        if ($v.$error || $v.invalid) {
          this.holderClass = 'error';
        } else {
          this.holderClass = '';
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-holder {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
