<template>
  <b-col cols="2" md="3" lg="3" xl="2" class="payment-credit-cvc">
    <label for="creditCvc" class="d-block text-right mb-0">CVC</label>
    <the-mask
      :mask="cvcMask"
      v-model.lazy="$v.cvcDigit.$model"
      @input="inputHandler"
      @blur.native="blurHandler($v.cvcDigit)"
      :class="`form-control ${cvcClass} ${cvcBolder}`"
      type="text"
      :placeholder="cvcPlaceholder"
      id="creditCvc"
    />
    <!-- <span>creditType: {{ creditType }}</span> -->
  </b-col>
</template>

<script>
import { TheMask } from 'vue-the-mask';
import { required, minLength } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditCvc',
  components: {
    TheMask,
  },
  props: {
    cvcHandler: {
      type: Function,
      default: () => () => {},
    },
    creditType: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      cvcDigit: '',
      cvcClass: '',
      cvcBolder: '',
      cvcMinLength: 3,
      amexMask: '####',
      amexPlaceholder: '0000',
      otherMask: '###',
      otherPlaceholder: '000',
    };
  },
  validations() {
    return {
      cvcDigit: {
        required,
        minLength: minLength(this.cvcMinLength),
      },
    };
  },
  watch: {
    creditType(val) {
      this.cvcMinLength = val === 'amex' ? 4 : 3;
    },
  },
  computed: {
    cvcMask() {
      return this.creditType === 'amex' ? this.amexMask : this.otherMask;
    },
    cvcPlaceholder() {
      return this.creditType === 'amex' ? this.amexPlaceholder : this.otherPlaceholder;
    },
  },
  methods: {
    inputHandler(val) {
      if (val.length === this.cvcMinLength) {
        this.cvcHandler(val);
        this.cvcBolder = 'bolder';
      } else {
        this.cvcHandler(null);
        this.cvcBolder = '';
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        if ($v.$error || $v.$invalid) {
          this.cvcClass = 'error';
        } else {
          this.cvcClass = '';
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-cvc {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    text-align: end;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
