<template>
  <b-col cols="3" md="4" lg="4" xl="3" class="payment-credit-expires">
    <label for="creditExpires" class="d-block text-right mb-0">Expires</label>
    <the-mask
      :mask="expiresMask"
      v-model.lazy="$v.expiresDate.$model"
      @input="inputHandler"
      @blur.native="blurHandler($v.expiresDate)"
      :class="`form-control ${expiresClass} ${expiresBolder}`"
      type="tel"
      placeholder="mm / yyyy"
      id="creditExpires"
    />
  </b-col>
</template>

<script>
import { TheMask } from 'vue-the-mask';
import { required, minLength } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditExpires',
  components: {
    TheMask,
  },
  props: {
    expiresHandler: {
      type: Function,
      default: () => () => {},
    },
  },
  data() {
    return {
      expiresDate: '',
      expiresMask: '## / ####',
      expiresClass: '',
      expiresBolder: '',
    };
  },
  validations: {
    expiresDate: {
      required,
      minLength: minLength(6),
      isDateValid(val) {
        if (val.length === 6) {
          return this.isExpiresPostdated(val);
        }
        return false;
      },
    },
  },
  methods: {
    isExpiresPostdated(val) {
      const mm = val.slice(0, 2);
      const yyyy = val.slice(2);
      const dd = new Date().getDate(); // day of current date (today)
      const dateExpires = new Date(`${mm}/${dd}/${yyyy}`);
      const today = new Date();

      return dateExpires > today;
    },
    inputHandler(val) {
      if (val.length === 6) {
        if (this.isExpiresPostdated(val)) {
          this.expiresHandler(val);
          this.expiresClass = '';
          this.expiresBolder = 'bolder';
        } else {
          this.expiresHandler(null);
          this.expiresClass = 'error';
          this.expiresBolder = '';
        }
      } else {
        this.expiresHandler(null);
        this.expiresBolder = '';
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        if ($v.$error || $v.$invalid) {
          this.expiresClass = 'error';
        } else {
          this.expiresClass = '';
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-expires {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    text-align: end;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
